/* ===== GLOBAL ===== */
body {
    background: #eef3f9;
    font-family: "Segoe UI", sans-serif;
    color: #0f2f45;
}

.content {
    padding-right: 22px;
}

/* HEADER */
.main-header {
  background: linear-gradient(90deg, #006EA0, #0096C7);
  color: #fff;
  font-weight: 700;
  font-size: 26px;
  padding: 18px 25px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.15);
}

/* CARD */
.section-card {
  background: #fff;
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

/* SECTION TITLE */
.section-title {
  font-size: 18px;
  font-weight: 700;
  background: #EDF7FF;
  padding: 12px 18px;
  margin-top: 20px;
  border-left: 5px solid #0077A8;
  border-radius: 6px;
  color: #004b73;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 30px;
}

.section-title:first-of-type {
  margin-top: 0;
}

/* LABEL */
.section-card label {
  font-weight: 600;
  color: #004b73;
}

/* FORM CONTROL */
.form-control, .form-select {
  border-radius: 8px;
  padding: 10px 12px;
  border: 1px solid #c8d6e5;
  transition: 0.2s ease;
}

.form-control:focus,
.form-select:focus {
  border-color: #0096C7;
  box-shadow: 0 0 0 0.18rem rgba(0,146,203,0.25);
}

/* SUB-SECTION */
.sub-section-header {
  font-weight: 600;
  color: #0077a6;
  background: #e7f6ff;
  padding: 8px 12px;
  border-left: 5px solid #0096C7;
  border-radius: 5px;
  margin-bottom: 15px;
}

/* ACCESS SECTION LINE */
.akses-divider {
  border-top: 1px dashed #a9c6d8;
  width: 100%;
}

/* BUTTON */
.btn-primary {
  background-color: #0077A8;
  border-color: #0077A8;
  padding: 10px 25px;
  font-weight: 600;
  border-radius: 8px;
}
.btn-primary:hover {
  background-color: #005f86;
}

/* Uniform Spacing */
.row.g-4 > div, .row.g-3 > div {
  margin-bottom: 8px;
}

/* ALERT POPUP STYLE */
#alert-container .alert {
    border-radius: 10px;
    padding: 15px 18px;
    font-weight: 600;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.modal-dialog {
    margin-top: 30px !important;
}

.modal {
    z-index: 2000 !important;
}

.modal-backdrop {
    z-index: 1990 !important;
}



