/* DASHBOARD */
    body {
      background-color: #eaf4f9;
      font-family: 'Poppins', sans-serif;
    }
    
    .card-section {
      background-color: #fff;
      border-radius: 10px;
      margin-top: 20px;
      padding: 20px;
      box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    }
    .section-title {
      font-weight: 600;
      margin-bottom: 10px;
    }

    .stat-box {
      background-color: #dff0d8;
      border-radius: 8px;
      padding: 25px;
      text-align: center;
      font-weight: bold;
    }
    .stat-box h1 {
      font-size: 40px;
      color: #000000ff;
      margin: 0;
    }
    .stat-box p {
      margin: 0;
      color: #000000ff;
      font-size: 15px;
    }

    .stat-box-blue {
      background-color: #d9edf7;
      color: #31708f;
    }

    .profile-list {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 5px 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #fff;
    }
    .profile-list button {
      background-color: #d9d9d9;
      border: none;
      border-radius: 10px;
      padding: 3px 15px;
      font-size: 0.9em;
    }
