/* Main page header */
.main-header {
  color: #004b73;
  font-weight: 700;
  font-size: 24px;
  padding: 18px 25px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.15);
}

/* Card container */
.profil-card {
    background: #ffffff;
    border-radius: 14px;
    border: 1px solid #d9e2ec;
    padding: 25px;
    width: auto;
}

