/* SIDEBAR */

.sidebar {
  background-color: #f8f9fa;
  width: 260px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 30px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.sidebar .logo {
  text-align: center;
  margin-bottom: 15px;
}

.sidebar .logo img {
  width: 150px;
}

.sidebar .title {
  text-align: center;
  font-weight: 700;       /* BOLD */
  font-size: 14px;
  letter-spacing: 3px;
  color: #1b2e46;      
  margin-bottom: 25px;
}

.sidebar .nav-link {
  color: #1b2e46;
  padding: 10px 20px;
  border-radius: 8px;
  margin: 5px 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar .nav-link.active {
  background-color: #006EA0;
  color: #fff;
}

.sidebar .nav-link:hover {
  background-color: #d9edf7;
  color: #000;
}
